.trash {
    color: rgb(184, 8, 8);
    cursor: pointer;
    margin-left: 10px;
    transition: .5s;
}

.trash:hover{
    color: rgb(240, 24, 24);
}


.spinner {
    color: rgb(184, 8, 8);
    margin-left: 10px;
    transition: .5s;
    animation: spin infinite 1s linear;
}
.error{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    position: fixed;
    right: 100px;
    top: 300px;
    background-color: rgb(201, 16, 16);
    color: white;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    animation: showError .4s forwards;
}

@keyframes showError {
    0% {
        right: 0px;
    }
    100% {
        right: 100px;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}